$flex-basis-left: 20%;
$flex-basis-right: 80%;

a {
  text-decoration: none;
  color: blue;
}

.page {
  width: 210mm;
  height: auto;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 5mm 5mm;

  .section-divider {
    border-top: 2px solid black;
    margin: 10px 0;
  }

  .section-title {
    font-size: 18pt;
    flex-basis: $flex-basis-left;
  }

  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .name {
      flex-basis: 100%;
      text-align: center;
      font-family: Arial, sans-serif;
      font-size: 20pt;
      font-weight: bold;
    }

    .info-item {
      display: flex;
      align-items: center;
      padding: 10px;

      .info-icon {
        width: 25px;
        height: 25px;
        margin-right: 5px;
      }
    }
  }

  .links-section {
    display: flex;

    .section-content {
      display: flex;
      flex-wrap: wrap;
      flex-basis: $flex-basis-right;

      .link-item {
        margin: 5px;
      }
    }
  }

  .profile-section {
    display: flex;

    .profile-summary {
      flex-basis: $flex-basis-right;
      font-size: 14pt;
    }
  }

  .skills-section {
    display: flex;

    .section-content {
      flex-basis: $flex-basis-right;
      display: flex;
      flex-wrap: wrap;

      .item {
        margin: 5px;
      }
    }
  }

  .work-section {
    .section-title {
      font-size: 18pt;
      flex-basis: 100%;
    }

    .work {
      display: flex;
      margin-top: 5px;

      .work-duration {
        font-size: 12pt;
        flex-basis: $flex-basis-left;
        align-self: center;
      }

      .work-content {
        flex-basis: $flex-basis-right;

        .work-title {
          font-size: 21px;
        }

        .work-responsibilities {
          margin-bottom: 0px;
          margin-top: 5px;
          .responsibility {
            margin-top: 10px;
          }
        }
      }
    }
  }

  .project-section {
    display: flex;
    flex-direction: column;
    gap: 25px;

    .section-title {
      font-size: 18pt;
      flex-basis: 100%;
    }

    .project {
      display: flex;

      .project-title {
        font-size: 21px;
        flex-basis: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .duration {
          font-size: 16px;
        }
      }

      .project-content {
        flex-basis: 80%;
        .description {
          margin-left: 20px;
        }

        .project-responsibilities {
          margin-bottom: 0px;
          margin-top: 2px;
          .responsibility {
            margin-top: 5px;
            font-size: 15px;
          }
        }
      }
    }
  }

  .education-section {
    display: flex;
    flex-wrap: wrap;

    .section-title {
      font-size: 18pt;
      flex-basis: 100%;
    }

    .education {
      display: flex;

      .duration {
        font-size: 12pt;
        flex-basis: $flex-basis-left;
        align-self: center;
      }

      .content {
        flex-basis: $flex-basis-right;

        .title {
          font-size: 16pt;
        }

        .courses {
          margin: 0 auto;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          .course {
            margin-top: 5px;
            width: 50%;
          }
        }
      }
    }
  }

  .certificates-section {
    display: flex;
    flex-wrap: wrap;

    .section-title {
      font-size: 18pt;
      flex-basis: 100%;
    }

    .certificate {
      display: flex;
      margin-top: 10px;
      flex-basis: 100%;

      .duration {
        font-size: 12pt;
        flex-basis: $flex-basis-left;
        align-self: center;
      }

      .name {
        flex-basis: $flex-basis-right;
      }
    }
  }
}
